*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url('../img/y-so-serious-white.png');
    font-family: 'Nunito Sans', sans-serif, helvetica;
    font-size: 16px;
}
.SocialMedia{
    flex: 1;
    margin-right: 2%;
    margin-left: 2%;
    margin-top: 5%;
}
.SocialMedia article{
    background: #ffffff;
    padding: 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.75);
    margin: 10px;
}
.SocialMedia article h1{
    font-weight: normal;
    margin-bottom: 0.5em;
}
.SocialMedia article hr{
    margin-bottom: 1em;
    height: 2px;
    background: #153b9c;
    border: none;
}
.SocialMedia article p{
    margin-bottom: 1em;
}
.SocialMedia img{
  align-items:center;
  width: 46%;
  position: sticky;
}
